<div class="container-fluid file-uploader">
    <div class="row justify-content-center file-uploader__wrapper" >
        <div class="col-lg-6 file-uploader__wrapper__dashboard">
            <span class="file-uploader__wrapper__dashboard--header">Upload documents</span>
            <hr>
            <div class="center">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
                    (onFileLeave)="fileLeave($event)">
                <div class="row berry" style="background: black;">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <i (click)="openFileSelector()" pTooltip="Files supported: XLSX, XLS, CSV, PDF, DOC, DOCX, PNG, JPG    Max size: 100mb" class="fa fa-upload" aria-hidden="true"></i>
                        &nbsp;Drag and drop or&nbsp;<span (click)="openFileSelector()"><u>browse</u></span>&nbsp;files.
                        
                    </ng-template>
                
                </div>
                </ngx-file-drop>
                <div class="container-fluid mt-3">
                    <div class="row mt-1"   *ngFor="let item of files; let i=index">
                        <div class="col-lg-1">
                            <p-progressSpinner *ngIf="fileUploading"></p-progressSpinner>
                        </div>
                        <div class="col-lg-3">
                            {{ item.relativePath }}
                        </div>
                        <div class="col-lg-7" style="padding-right: 0px !important;">
                            <p-progressBar *ngIf="fileFound" [value]="variable"></p-progressBar>
                        </div>
                        <div class="col-lg-1 text-end" style="padding-right: 0px !important;">
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-end">
                        <button pButton
                         class="primary-action-button"
                          style="padding-left: 5px; padding-right: 5px; border-radius: 4px;">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


