<nav class="navbar navbar-expand-lg bg-white">
    <div class="navbar__container-fluid container-fluid"> 
        <a class="navbar__container-fluid__navbar-brand navbar-brand" href="#">
            <img alt="Brand" class="navbar__container-fluid__navbar-brand--blackline-logo" id="logo" src="assets/images/blackline-logo/app_logo.svg">
        </a>
        <span class="navbar__container-fluid__utility-panel">
            <i class="navbar__container-fluid__utility-panel--calendar fa fa-calendar">&nbsp;</i><b>{{currentDate | date }} (current)</b> |
            <i class="navbar__container-fluid__utility-panel--notifications fa fa-bell">&nbsp;</i><b>Notifications</b>
        </span>
    </div>
</nav>